html{
    background-color: #f2f2f2;
}

#popUp {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    width: 600px;
    height: 460px;
    padding-top: 10px;
    font: 15px Arial, sans-serif;
}

.infoForSubscribe {
    width: 300px;
    height: 32px;
    margin: 10px 0 10px 0;
    border: 1px solid black;
    text-indent: 10px;
}

.infoForSubscribe:focus {
    outline: none;
}

.subscribeBtn {
    width: 310px;
    height: 35px;
    margin-top: 30px;
    background-color: black;
    color: white;
    border: none;
}

.subscribeBtn:hover {
    cursor: pointer;
}

.subscribeBtn:active {
    background-color: #30302f;
}

.close {
    font-size: 25px;
    margin-left: 540px;
}

#required {
    position: absolute;
    left: 25%;
    color: red;
    font-size: 12px;
    margin-top: 0;
}